Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Audio/mixkit-single-classic-click-1116.uasset
Content/GitIgnored
Content/GitIgnored/*
Content/Characters/Animations/*
Content/Characters/Animations/
